@model LeakGuard.Models.Rule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RuleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RuleType.RuleTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RuleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
